@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Touchstone IELTS Centre</h1>

</div>

<centre><img src="~/lib/tpic.jpg" height="500" width="1120" /></centre>
<div class="container">
    <center>
        <h1>
            TOUCHSTONE ANNOUNCES<br />

            ONLINE IELTS TRAINING<br />
            Utilise your time at home preparing for IELTS every day through online learning<br />
        </h1>
    </center>
    <h1> Why Touchstone?</h1>
    No. 1 in IELTS Training from last 20 years.<br />
    The only IELTS training institute which is the official knowledge partner of the Cambridge University Press.<br />
    Preferred Partner for IDP & BCD in India<br />
    Offering internationally acclaimed and result oriented training solutions<br />
    Robust Curriculum matching student’s learning capabilities<br />
    Enjoy the reliability of a well known Brand in the field of education.<br />
    Committed towards every student’s success.<br />
    Associated with over 100 institutions globally for Study Abroad.<br />
    Explore Touchstone’s Online Learning<br />
    Touchstone’s online learning has been specifically curated to assist IELTS aspirants around the globe. It offers flexibility, convenience and master classes by globally trained faculty.<br />
</div>
