@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<centre><img src="~/touchstone1.png" height="500" width="1120" /></centre>
<p>
    <h2>Overview articles</h2>
    Overview articles summarize in prose a broad topic like biology, and also have illustrations and links to subtopics like cell biology, biographies like Carl Linnaeus, and other related articles like Human Genome Project.

    Wikipedia:Contents/Overviews lists overview articles from covered fields in a single page.
    <h2>Outline pages</h2>
    Outline pages have trees of topics in an outline format, which in turn are linked to further outlines and articles providing more detail. Outlines show how important subtopics relate to each other based on how they are arranged in the tree, and they are useful as a more condensed, non-prose alternative to overview articles.

    Wikipedia:Contents/Outlines is a comprehensive list of "Outline of __" pages, organized by subject. It is itself an outline, that links (almost) exclusively to other outlines.
    Outline of academic disciplines covers subjects studied in college or university, and provides links to prose overview articles and their corresponding outlines.
    Outline of knowledge is the top-level outline, its subject being the broadest one of all. It is the ancestor of all other outlines, and they branch out from it, in successive levels.
    <h2>Vital articles</h2>
    Main page: Wikipedia:Vital articles
    Vital articles are lists of subjects for which Wikipedia should have corresponding high-quality articles. They serve as centralized watchlists to track the status of Wikipedia's most important articles.

   <ul> <li type="disc">Vital articles level 1</li> – 10 most important articles
    <li>Vital articles level 2</li> – 100 most important articles
    <li>Vital articles level 3</li> – 1,000 most important articles
    <li>Vital articles level 4</li> – 10,000 most important articles
    <li>Vital articles level 5</li> – 50,000 most important articles</ul>
</p>